include ./pug/feature_section.pug
include ./pug/focusedFormField.pug
include ./data.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Daily interaction design-challenge
        link(rel="stylesheet" href="./style.sass")
    body
        header
            h1.page_title(id=data.intro.id) #{data.intro.title}
            .intro
                .intro__text #{data.intro.text}
                    a(href=data.intro.link) #{data.intro.link}
                menu.intro__menu
                    h3 Table of content
                    ul.intro__menu__ul
                        each item in data
                            li.intro__menu__li
                                a.intro__menu__link(href=item.id) #{item.title}
        +feature(data.nextButton.id, "blue", data.nextButton.title, data.nextButton.text)
            .next_button
                .next_button__button 
                    span Next
                    .next_button__arrow-right
        +feature(data.symbolicLinks.id, "darkblue", data.symbolicLinks.title, data.symbolicLinks.text)
            .infoLinks
                .infoLinks__text 
                | This is a paragraph about the use of informative links. Do you know the feeling of seeing a link and having no idea, where it will lead you? As I see it, this is an issue as there are three possible ways it could turn out: 
                | Anchor Link; linking to content on the same page. 
                | Internal link - linking to another document on that site and external links. 
                a(class="link") External link
                    span(class="link__arrow link__arrow--external")
                |  Often links are inside a paragraph!
                .infoLinks__text
                | Since there is more than external links: let's have a look at internal links! 
                a(class="link") Internal Link
                    span(class="link__arrow link__arrow--internal")
                .infoLinks__text
                | We should also consider anchor links, that just point to another section on the same page... 
                a(class="link") Anchor Link
                    span(class="link__arrow link__arrow--anchor")
        +feature(data.mouseTracking.id, "pink", data.mouseTracking.title, data.mouseTracking.text)
            .mouseTracking
                .cat
                    .cat__ears
                    .cat__eyes
                        .cat__eye
                        .cat__eye
                    .cat__face
        +feature(data.tooltip.id, "lightpink", data.tooltip.title, data.tooltip.text)
            .example_tooltip
                a(href="https://github.com/bjoerndot/dailyIXD", aria-label="https://github.com/bjoerndot/dailyIXD") Unprecise description of the link or just linked text-section
                button.close__button(aria-label="Click here to close something!")
                    .close__button__cross 
        +feature(data.readMode.id, "blue", data.readMode.title, data.readMode.text)
            .readMode
                .readMode__left
                    //- img.readMode__img(src="https://images.unsplash.com/photo-1575178114667-c8a832c61f45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Vase of pink peonies by @rebecca_lee_creative (unsplash.com)")
                    //- img.readMode__img(src="https://images.unsplash.com/photo-1435783459217-ee7fe5414abe?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Peony vase by @alexseinet (unsplash.com)")
                .readMode__right
                    .readMode__menu
                        button.readMode__button(aria-label="Enter read-mode" id="readMode_button") 
                            img.readMode__button__img(class="readMode__button__img--is-active" src="./img/book-icon.svg" alt="Read mode")
                    .readMode__text
                        h2.readMode__h2 This paragraph is enourmously important!
                        .readMode__stuff SIGN IN FOR OUR NEWSLETTER
                        p.readMode__text__p Dorian winced and looked round at the grotesque things that lay in such fantastic postures on the ragged mattresses. The twisted limbs, the gaping mouths, the staring lustreless eyes, fascinated him. He knew in what strange heavens they were suffering, and what dull hells were teaching them the secret of some new joy. They were better off than he was. He was prisoned in thought. Memory, like a horrible malady, was eating his soul away. From time to time he seemed to see the eyes of Basil Hallward looking at him. Yet he felt he could not stay. The presence of Adrian Singleton troubled him. He wanted to be where no one would know who he was. He wanted to escape from himself.
                        p.readMode__text__p "I am going on to the other place," he said after a pause.
                        p.readMode__text__p "On the wharf?"
                        p.readMode__text__p "Yes."
                        p.readMode__text__p "That mad-cat is sure to be there. They won't have her in this place now."
                        p.readMode__text__p Dorian shrugged his shoulders. "I am sick of women who love one. Women who hate one are much more interesting. Besides, the stuff is better."
                        p.readMode__text__p "Much the same."
                        p.readMode__text__p "I like it better. Come and have something to drink. I must have something."
        +feature(data.terms.id, "darkblue", data.terms.title, data.terms.text)
            .terms
                form.terms__form(aria-label="Accept the terms and conditions and confirm your action.")
                    label.terms__label
                        input.terms__checkbox(aria-labeledby="terms__label" type="checkbox" name="Terms and Conditions")
                        .terms__checkbox__custom
                        .terms__checkbox__label#terms__label I accept the terms and conditions.
                    button.terms__confirm 
                        span.terms__confirm__text Confirm
        +feature(data.focusedForm.id, "pink", data.focusedForm.title, data.focusedForm.text)
            .focusedForms
                form.focusedForms__form(aria-label="Enter your address")
                    each field in data.focusedForm.formFields
                        +focusedFormField(field.id, field.title, field.type, field.help)
    script(src="./index.js")
