include ./pug/feature_section.pug
include ./data.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Daily interaction design-challenge
        link(rel="stylesheet" href="./style.sass")
    body
        header
            h1.page_title(id=data.intro.id) #{data.intro.title}
            .intro
                .intro__text #{data.intro.text}
                    a(href=data.intro.link) #{data.intro.link}
                menu.intro__menu
                    h3 Table of content
                    ul.intro__menu__ul
                        each item in data
                            li.intro__menu__li
                                a.intro__menu__link(href=item.id) #{item.title}
        +feature(data.nextButton.id, "blue", data.nextButton.title, data.nextButton.text)
            .next_button
                .next_button__button 
                    span Next
                    .next_button__arrow-right
        +feature(data.symbolicLinks.id, "darkblue", data.symbolicLinks.title, data.symbolicLinks.text)
            .infoLinks
                .infoLinks__text 
                | This is a paragraph about the use of informative links. Do you know the feeling of seeing a link and having no idea, where it will lead you? As I see it, this is an issue as there are three possible ways it could turn out: 
                | Anchor Link; linking to content on the same page. 
                | Internal link - linking to another document on that site and external links. 
                a(class="link") External link
                    span(class="link__arrow link__arrow--external")
                |  Often links are inside a paragraph!
                .infoLinks__text
                | Since there is more than external links: let's have a look at internal links! 
                a(class="link") Internal Link
                    span(class="link__arrow link__arrow--internal")
                .infoLinks__text
                | We should also consider anchor links, that just point to another section on the same page... 
                a(class="link") Anchor Link
                    span(class="link__arrow link__arrow--anchor")
        +feature(data.mouseTracking.id, "pink", data.mouseTracking.title, data.mouseTracking.text)
            .mouseTracking
                .cat
                    .cat__ears
                    .cat__eyes
                        .cat__eye
                        .cat__eye
                    .cat__face
    script(src="./index.js")